.logo{
	width: 1200px;
	height: 81px;
	margin: 0 auto;
	margin-top: 10px;
	// background-color: pink;
	border-bottom: solid 2px #c81623;
	.img{
		width: 100px;
		height: 100%;
		margin-left: 0;
		float: left;
		
		img{
			height: 81px;
		}
	}
	.silougen{
		height: 80px;
		width: 180px;
		float: left;
		.text1{
			font-weight: 600;
		}
		.text3{
			color: #666666;
		}
	}
}



.nav{
	background-color: pink;
	width: 1200px;
	height: 81px;
	ul{
		height: 100%;
		list-style: none;
		li{
			float: left;
			height: 100%;
		}
	}
}


.wangzhan{
	font-size: 64px;
}